@inject ServiceBusProxy Proxy

@page "/"

<div class="container">
    <div class="row justify-content-center">
        <img src="images/MoesBar.png" />
    </div>
    <div class="row">
        @foreach (string customer in Customers)
        {
            <div class="col">
                <div class="d-flex justify-content-center">
                    <Customer Name="@customer" OnCustomerCallback="WriteActivity"></Customer>
                </div>
            </div>
        }
    </div>
    <div class="row justify-content-center">
        <div>@Activities</div>
    </div>
</div>

@code
{
    public MarkupString Activities { get; set; }
    public List<string> Customers { get; set; } = new List<string> { "Barney", "Homer", "Carl", "Lenny" };

    public void WriteActivity(string message)
    {
        Activities = new MarkupString($"{DateTime.Now:T}: <strong>{message}</strong><br/>{Activities.Value}");
        StateHasChanged();
    }
}